/* body {background-color: black;} */

#menu{
  font-family: 'Inter', sans-serif;

  position: fixed;
  left: 0;
  height: 100%;
  font-weight: 400;
  width: 8%;
  background-color: white;
  color: black;
  text-align: center;
  border: solid 3px;
  border-color: black;


}
#name{
  font-size: medium;
  font: black;
}
#email{
  font-size: small;
 

  
}
#linkedin{
  font-size: small;
 
}
#github{
  font-size: small;
  
}

#paragraphs{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  

 
}
/* #pagewrap{
  float: right;
} */
body{
  padding-left: 10%;
}
#contact{
 font-size: small;
  position: absolute;
  bottom: 0px;
  right: 20%;
  font-weight: 900;

}

tr {
    vertical-align: top;
  }
  .post {
    width: 500px;
  }
  p {
    font-size: 1.2em;
    margin: 0 0 15px 0;
  }
  h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 4em;
    letter-spacing: -1px;
    color: black;
  }
  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 3em;
    letter-spacing: -1px;
    color: black;
    text-align: center;
  }
  #embeddedname {
    font-weight: 900;


  }

  
@media only screen and (max-width: 800px){
	#paragraphs {color:blue;}
}

  /* ipad */
  @media screen and (max-width: 768px) {
  };

  /* iphone 6 */
  @media screen and (max-width: 640px) {

  };

  /* iphone 5 */
  @media screen and (max-width: 640px) {

  };
  
